* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Freckle Face', cursive;
    letter-spacing: 1px;
}

body {
    background-image: url(/img/canteiroAboboras.jpg);
    /* background-repeat: space; */
    /* background-repeat: no-repeat; */
    background-position: top;
    /* background-clip: border-box; */
    background-size: cover;
    /* width: 100%; */
}

h1 {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 115, 0);
    /* padding: 20px; */
    text-shadow: -2px -2px rgba(48, 173, 32, 0.692), 2px 2px #333;
}

fieldset {
    border: 3px solid rgb(0, 17, 255);
    border-radius: 7px;
    background-color: rgb(255, 255, 0);
}

form,
input {
    padding: 20px;
    margin-bottom: 7px;
    /* border: 1px solid black; */
}

p,
a:link {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}


/* div {
    border: 1px solid black;
} */