* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Freckle Face', cursive;
    letter-spacing: 1px;
    font-weight: bold;
}


/* div {
    border: 1px solid black
} */

body {
    background-color: darkgreen;
}

header,
footer {
    /* border: 1px solid black; */
    height: 52px;
    /* margin: auto;
    float: left; */
}

nav {
    background-color: rgb(86, 86, 251);
    height: 50px;
    width: 100%;
}

nav,
p {
    font-size: 18px;
}

#abb,
#abbc {
    width: 85%;
    /* display: block; */
}

.tableRanking {
    border: 1px solid white;
    color: white;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

header {}

main,
section {
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
}

main {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.ponteiro {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    cursor: url(/img/serra.png), default;
}

#board {
    /* border:1px solid blue; */
    margin: auto;
}

#board div {
    float: left;
}

#chrono.btnPause {
    color: rgba(255, 0, 0, 0.623);
}


/* #chrono.btnResume {
    color: black;
} */