* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Freckle Face', cursive;
    letter-spacing: 1px;
    font-weight: bold;
}


/* @media all and (display-mode: fullscreen) {
    body {
        margin: 0;
        border: 5px solid black;
    }
} */


/* div {
    border: 1px solid black
} */


/* 
body {
    background-color: darkgreen;
} */

nav {
    background-image: linear-gradient( rgba(36, 49, 194, 0.705), rgba(255, 138, 5, 0.541));
    /* background-color: rgb(86, 86, 251); */
    height: 60px;
    width: 100%;
}

nav,
p,
button,
select {
    font-size: 20px;
    margin-bottom: 20px;
}

#abb,
#abbc {
    width: 85%;
    /* display: block; */
}

.tableRanking {
    border: 1px solid white;
    color: white;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    background-image: url(/img/canteiroAboboras.jpg);
    /* background-position: center; */
    background-size: cover;
}

header {}

main,
section {
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
}

main {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.ponteiro {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    cursor: url(/img/serra.png), default;
}

#board {
    margin: auto;
}

#board div {
    float: left;
}

#chrono.btnPause {
    color: rgba(255, 0, 0, 0.623);
}

#chrono,
#score {
    font-size: 30px;
}

.desliga {
    color: black;
}

.desliga:hover {
    color: white;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    /* text-align: justify; */
    color: rgb(255, 115, 0);
    /* padding: 20px; */
    text-shadow: -2px -2px rgba(48, 173, 32, 0.692), 2px 2px #333;
}

.treme {
    animation-name: treme;
    animation-duration: 0.1s;
    animation-iteration-count: 3;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 115, 0);
    /* padding: 20px; */
    text-shadow: -2px -2px rgba(48, 173, 32, 0.692), 2px 2px #333;
}


/* h1:focus {
    animation: treme 0.1s;
    animation-iteration-count: 5;
} */

@keyframes treme {
    0% {
        margin-left: 0;
    }
    10% {
        margin-left: -10px;
    }
    20% {
        margin-left: 0;
    }
    30% {
        margin-bottom: -5px;
        margin-right: 10px;
    }
    40% {
        margin-button: 0;
    }
    50% {
        margin-top: 10px;
    }
    60% {
        margin-left: 5px;
    }
    70% {
        margin-left: 0;
    }
    80% {
        margin-left: -5px;
    }
    90% {
        margin-right: 10px;
    }
    100% {
        margin-left: 0;
    }
}


/* 
@keyframes pisca {
    0% {
        color: rgb(255, 123, 0);
    }
    25% {
        color: rgba(9, 255, 0, 0.774);
    }
    50% {
        color: rgb(0, 172, 0);
    }
    75% {
        color: rgba(0, 255, 98, 0.452);
    }
    100% {
        color: rgba(253, 187, 4, 0.787);
    }
} */


/* #chrono.btnResume {
    color: black;
} */